<div class="ab">
<div class="row">
        <div class="card col p-3 m-3">
            <div class="ui inverted segment">
             <div class="ui blue  statistic">
                     <div class="label">
                            <h2>Confirmed</h2>
                     </div>
                     <div class="value">
                       {{totalConfirmed}}
                     </div>
                   </div>
                   </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui inverted segment">
            <div class="ui orange statistic">
                    <div class="label">
                            <h2>Active </h2>
                    </div>
                    <div class="value">
                      {{totalActive}}
                    </div>
                  </div>
                  </div>
       </div>
                         
        <div class="card col   p-3 m-3">
            <div class="ui inverted segment">
             <div class="ui  green statistic">
                     <div class="label">
                             <h2>Recovered</h2>
                     </div>
                     <div class="value">
                       {{totalRecovered}}
                     </div>
                   </div>
                   </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui inverted segment">
             <div class="ui red statistic">
                     <div class="label">
                             <h2>Deaths</h2>
                     </div>
                     <div class="value">
                       {{totalDeaths}}
                     </div>
                   </div>
                   </div>
        </div>
        
           </div>
          </div>